*  {
    font-family: 'Crimson Text', serif;    
}

body {
    background: url("../images/background.jpg") no-repeat center center fixed;
    background-size: cover;
    padding: 20px;
}



.container {
    margin: 0 auto;
    min-height: 500px;
    /* width: 1000px; */
    background: rgba(218, 203, 163, 0.75);
}


.header {
    font-family: 'Berkshire Swash', cursive;
    font-size: 70px;
    padding-top: 10px;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    
}
.my-button {
    background-color:  #242d36;
    border: none;
    color: tan;
    padding: 20px 128px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 60px;
    font-family: 'Cinzel Decorative', cursive;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
}
#start {
    margin-top: 70px;
}

#game-space {
    margin: 0 auto;
    margin-top: 20px;
    font-size: 30px;
    /* width: 600px; */

}
#show-time {
    width: 100px;
    margin: 0 auto;
    color: #A31800;
    font-size: 36px;
    font-weight: 800;
}

#prompt {
    margin-bottom: 20px;
}
.selection {
    margin-bottom: 5px;
    cursor: pointer;
}

.selection:hover {
    background: rgba(145, 144, 144, 0.3);
}

#display {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 20px;
}